<section>
       <div class="container" id="table-align">

        <table class="table">
  <thead>
    <tr>
      <th><h1>ID</h1></th>
      <th><h1>NAME</h1></th>
      <th><h1>EMAIL ID</h1></th>
      <th><h1>PHONE NO</h1></th>
      <th><h1>ACTIONS</h1></th>
    
    </tr>
  </thead>
  <tbody>
     {{#each users}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.mobile}}</td>
      <td>
       <a href="/admin/delete-user/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure to delete {{this.name}}')">Delete</a>
        </td>
    </tr>
    {{/each}}
    
  </tbody>
</table>
    </div>
</section>


