<div class="col-10" style="text-align: justify;margin-top:100px;">
  
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Mobile No</th>
      <th scope="col">Address</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      
    </tr>
  </thead>
  <tbody>
      {{#each orders}}
      <tr>
          <th scope="row">1</th>
          <td>{{this.deliveryDetails.name}}</td>
          <td>{{this.deliveryDetails.mobile}}</td>
          <td>{{this.deliveryDetails.address}}</td>
          <td>{{this.date}}</td>
          <td>{{this.status}}</td>
       
      </tr>
      {{/each}}
  </tbody>
</table>
</div>



