<div class="col-10" style="text-align: justify;margin-top:100px;">

  <table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>EMAIL ID</th>
      <th>PHONE NO</th>
      <th>ACTIONS</th>
    
    </tr>
  </thead>
  <tbody>
  {{#each users}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.mobile}}</td>
      <td>
       <a href="/admin/delete-user/{{this._id}}" class="btn btn-danger" style="font-size: small;" onclick="return confirm('Are you sure to delete {{this.name}}')">Delete</a>
        </td>
    </tr>
    {{/each}}
    
  </tbody>
</table>
    </div>
</div>




