
<div class="container" style="margin-top:100px;background:antiquewhite">
  {{#if Remove}}
   <p class="error" style="color: white;font-size:medium;font-weight:bolder">Item removed</p>
   {{/if}}
  <h2>Cart Items</h2> 
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    {{#each products}}
      <tr>
        <td> 
        <div class="cart-info">
           <img src="/product-images/{{this.product._id}}.jpg" >
           <div>
             <p>{{this.product.name}}</p>
             {{!-- <small>{{this.product.price}}</small><br> --}}
             <a href="/user/remove-cart/{{this.product._id}}" >Remove</a>
           </div>
        </div>
        </td>
        <td>
             <button class="cart-item-cout mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)" style="width: 20px;">-</button>
             <span id="{{this.product._id}}">{{this.quantity}}</span>
             <button class="cart-item-cout ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)" style="width: 20px;">+</button>
        </td>
        <td>{{this.product.price}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="total-price">
         <table>
             <tr>
                 <td>Total</td>
                  <td>{{totalValue}}</td>
             </tr>
         </table>
              
    </div>
     <div class="float-right pr-5"> 
     <a href="/user/place-order" class="btn btn-success mt-3" style="background: light;font-size:medium;color:white;font-weight:bold;width:200px;height:40px" ><b>Place Order</b></a> 
    </div>
     </div>
     </div>
</div>


<script>

function changeQuantity(cartId,proId,userId,count){
        let quantity=parseInt(document.getElementById(proId).innerHTML)
        
        console.log(userId)
        count=parseInt(count)
        $.ajax({
            url:'/change-product-quantity',
            data:{
                user:userId,
                cart:cartId,
                product:proId,
                count:count,
                quantity:quantity

            },
            method:'post',
            success:(response)=>{
                if(response.removeProduct){
                    alert("Product removed from cart")
                    location.reload() //refresh after product reload

                }else{
                    document.getElementById(proId).innerHTML=quantity+count
                    document.getElementById('total').innerHTML=response.total

                }
                
            }
        })
    }
    

</script>









