<section>
    <div class="container" style="margin-top: 100px;">
        
        <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Address</th>
      <th scope="col">Pincode</th>
      <th scope="col">Mobile</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Payment method</th>
   
      
    </tr>
  </thead>
  <body>
      {{#each orders}}
      <tr>
          <td>{{this.date}}</td>
          <td>{{this.deliveryDetails.address}}</td>
          <td>{{this.deliveryDetails.pincode}}</td>
          <td>{{this.deliveryDetails.mobile}}</td>
          <td>{{this.totalAmount}}</td>
          <td>{{this.paymentMethod}}</td>
          
          <td>

              <a href="/view-order-products/{{this._id}}" class="btn btn-primary">View Products</a>
          </td>

      </tr>
      {{/each}}
  </body>
</section>